# Data Wrangling - Cirugía de datos

El data **wrangling**, a veces denominada **data munging**, es el proceso de transformar y mapear datos de un dataset *raw*(en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriories, como el análisis. Un **Data wrangler** es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que comienzan extrayendo los datos en forma cruda del origen de datos, dividiendo los datos en bruto usuando algoritmos (por ejemplo, clasificación) o analizando los datos en estricturas de datos predefinidas, y finalmente depositando el contenido resultante en un sistema de almacenamiento (o silo) para su uso futuro.

In [9]:
import pandas as pd
import os
%config IPCompleter.greedy=True

In [10]:
mainpath = "D://Curso-Machine-Learning/python-ml-course/datasets/"
filename = "customer-churn-model/Customer Churn Model.txt"
fullpath = os.path.join(mainpath, filename)

In [11]:
data = pd.read_csv(fullpath)

### Crear un subconjunto de datos

In [14]:
account_length = data["Account Length"]
# Con esto se obtiene un objeto del tipo series (vector)
type(account_length)

pandas.core.series.Series

In [13]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [16]:
#para extraer mas columnas:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [17]:
type(subset)

pandas.core.frame.DataFrame